[[if .fullPage]][[ template "header.html" .]]
<section id="main" class="grid-container">
[[end]]
<div class="grid-container">
    <h1>Features licensed to key [[.keyId]]</h1>
    <div class="callout primary">
        <p>Licensed organization: [[.client.Name]] (ID: [[.client.Id]])</p>
    </div>

    <table>
            <thead>
              <tr>
                <th width="200">Feature/Package</th>
                <th width="50">Ver</th>
                <th width="150">Start</th>
                <th width="150">End</th>
                <th width="50">Q-ty</th>
                <th width="150">Dup</th>
              </tr>
            </thead>
            <tbody>
                [[ range .features ]]
              <tr>
                <td>
                        [[ if .IsPackage ]]
                        <span class="warning badge">P</span>
                        <a onclick="loadPage('singlepackage.html?package=' + encodeURIComponent('[[.Feature]]'))" href="#0">[[ .Feature ]]</a>
                        [[ else ]]
                        <span class="primary badge">F</span>
                        [[ .Feature ]]
                        [[ end ]]
                </td>
                <td>[[ .Version ]]</td>
                <td>[[ .Start.Format "2006-01-02" ]] </td>
                <td>[[ .End.Format "2006-01-02" ]]</td>
                <td>[[.Count]]</td>
                <td>[[.DupGroup]]</td>
              </tr>
              [[ end ]]
            </tbody>
    </table>

    <div class="grid-x grid-margin-x">
        <button id="extendBy" onclick="$.post('/v1/prolongLicensedFeaturesForKey/[[.keyId]]?byMonths=' + $('#extendBySelect').val() + '&setVersion=' + $('#selectVersion').val(),
                function (data, status) {
                    loadPage('keyfeatures.html?keyId=[[.keyId]]');
                })"  class="button cell medium-6 large-6">Extend by</button>
        <label>Extension term (from now):
            <select id="extendBySelect" class="cell medium-6 large-6">
                <option value="1">1 month</option>
                <option value="2">2 months</option>
                <option value="3">3 months</option>
                <option value="6">6 months</option>
                <option value="12">1 year</option>
            </select>
        </label>
    </div>
    <div class="grid-x grid-margin-x">
        <button id="extendTo"  onclick="$.post('/v1/prolongLicensedFeaturesForKey/[[.keyId]]?till=' + $('#dp1').val() + '&setVersion=' + $('#selectVersion').val(),
        function (data, status) {
            loadPage('keyfeatures.html?keyId=[[.keyId]]');
        })"  class="button cell medium-6 large-6">Extend to</button>
        <input type="text" class="cell medium-6 large-6" value="[[.proposedExtTerm]]" id="dp1">
    </div>
    <div class="grid-x grid-margin-x">
        <!-- <fieldset class="cell large-6">
            <legend>Set version to:</legend>
            <input id="checkboxVersion" type="checkbox"><label for="checkboxVersion">Version Checkbox</label>
        </fieldset> -->
        <label class="cell medium-6 large-6">When extending, set version to:
            <select id="selectVersion">
              <option value="NoChange">Do not change</option>
              <option value="1.0">1.0</option>
              <option value="19.0">19.0</option>
              <option value="20.0">20.0</option>
            </select>
          </label>
    </div>
    <div class="grid-x grid-margin-x">
        <button id="setCount"  onclick="$.post('/v1/changeFeaturesCountForKey/[[.keyId]]?setCount=' + $('#count').val(),
        function (data, status) {
            loadPage('keyfeatures.html?keyId=[[.keyId]]');
        })"  class="button cell medium-6 large-6">Set count to:</button>
        <input type="number" class="cell medium-6 large-6" value="[[.proposedCount]]" id="count">
    </div>
    <a class="expanded success button" href="/v1/newLicenseFile/[[.client.Id]]/[[.keyId]]"
        download="[[.licenseFileName]]">Make new file and download to: [[.licenseFileName]]</a>
    <div class="grid-x grid-margin-x">
        <button id="sendTo"  onclick="$.get('/v1/newLicenseFile/[[.client.Id]]/[[.keyId]]?mailTo=' + $('#mail_addr').val(), function(data, status) 
                    {console.log('After mailTo ' + data + ':' + status);
                     if(status === 'success')  $('#mail_status').css('background-color', 'green');
                     });
        "  class="success button cell medium-6 large-6">Send to</button>
        <input type="text" class="cell medium-4 large-4" value="[[.mailTo]]" id="mail_addr">
        <span class="secondary badge cell medium-1 large-1" id="mail_status">Mail</span>
    </div>
</div>

<script>
    $("#extendBy").click(function () {
        $.post("/v1/prolongLicensedFeaturesForKey/[[.keyId]]?byMonths=" + $("#extendBySelect").val(),
            function (data, status) {
                alert("From post: " + data + " " + status);
                location.reload(true)
            });
        ;
    });

    $("#extendTo").click(function () {
        $.post('/v1/prolongLicensedFeaturesForKey/[[.keyId]]?till=' + $('#dp1').val(),
            function (data, status) {
                loadPage('keyfeatures.html?keyId=[[.keyId]]');
            });
    });
</script>
[[if .fullPage]]
</section>
[[ template "footer.html" .]][[end]]