<div class="grid-container">
    <h1>Keys</h1>

<table>
    <tr>
    <th><a href="#0" onclick="loadPage('keys.html?sort=Id')">Key ID</a></th>
    <th><a href="#0" onclick="loadPage('keys.html?sort=clientName')">Client Name</a></th>
    <th>Comments</th>
    </tr>

    [[ range .keys ]]
    <tr>
        <td><a onclick="loadPage('keyfeatures.html?keyId=[[.Id]]')"   href="#0">[[ .Id ]]</a></td>
        <td>[[ .ClientName ]]</td>
        <td>[[ .Comments ]]</td>
    </tr>
    [[ end ]]
</table>

</div>
