<!--menu.html-->

<script>
  window.onpopstate = function(event) {
    console.log("popstate", `location: ${document.location}, state: ${JSON.stringify(event.state)}`)
    if(event.state != null) {
      loadPageNoReplaceState(event.state['page']);
    } else {
      
      loc = `${document.location}`;
      if(loc.lastIndexOf('#0') < 0) {
        window.location.replace("/v1/view/");
      }
    }
  }

  var loadPageAndUpdateHistory = function (page, updateState) {
    var xhttp = new XMLHttpRequest();
    console.log("loadPage", page)
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("main").innerHTML = xhttp.responseText;
        if (page.split('?')[0] === 'keyfeatures.html') {
          reloadDatePicker();
        }
        if(updateState) {
          window.history.replaceState({page: page}, "title", page)
        }
      }
    };
    xhttp.open("GET", page, true);
    xhttp.send();
  }

  var loadPage = function (page) {
      loadPageAndUpdateHistory(page, true);
  }

  var loadPageNoReplaceState = function (page) {
    loadPageAndUpdateHistory(page, false);
  }

  var reloadDatePicker = function () {
    $('#dp1').fdatepicker({
      format: 'yyyy-mm-dd',
      disableDblClickSelection: true
    });

  }

  var selectedFeatures = function(features) {
        url_part = []
        for (f of features) {
            if(document.getElementById(f['EltId']).checked) {
                url_part.push(encodeURIComponent(f['Feature']))
            }
        }
        return url_part.join(',')
    }

</script>

<nav class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="has-submenu">
        <a href="#0" onclick="loadPage('clients.html')">Clients</a>
      </li>
      <li><a onclick="loadPage('keys.html')" href="#0">Keys</a>
      </li>
      <li><a onclick="loadPage('features.html')" href="#0">Features</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a onclick="loadPage('templates.html')" href="#0">Templates</a></li>
          <li><a onclick="loadPage('packagescontent.html')" href="#0">Packages</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Not yet available" disabled></li>
      <li><button type="button" class="button">Search</button></li>
      <!-- <li><button type="button" class="button" onclick="loadPreviousPage()">Back</button></li> -->
    </ul>
  </div>
</nav>