<!--menu.html-->

<!-- <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/v1">
          Home
        </a>
      </div>
    </div>
  </nav> -->

  <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="has-submenu">
            <a href="index.html">Clients</a>
          </li>
          <li><a href="keys.html">Keys</a>
            </li>
          <li><a href="features.html">Features</a>
            <ul class="submenu menu vertical" data-submenu>
                <li><a href="templates.html">Templates</a></li>
                <li><a href="packagescontent.html">Packages</a></li>
              </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </nav>
  