<div class="grid-container">
    <h1>Features & Packages (T)</h1>

    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Package content</th>
        </tr>

        [[ range .features ]]
        <tr>
            [[ if .IsPackage ]]
            <td><span class="warning badge">P</span></td>
            [[ else ]]
            <td><span class="primary badge">F</span></td>
            [[ end ]]
            <td>
                [[ if .IsPackage ]]
                  <a onclick="loadPage('singlepackage.html?package=' + encodeURIComponent('[[.Name]]'))" href="#0">[[ .Name ]]</a>
                [[ else ]]
                    [[ .Name ]]
                [[ end ]]
            </td>
            <td>[[ .Features ]]</td>
        </tr>
        [[ end ]]
    </table>


</div>
